@{
    ViewData["Title"] = "Sources";
}
@model SorcererCoderNet.Models.Sources
<head>
    <link rel="stylesheet" href="~/css/styles.css">

</head>
<h1>Here's a list of sources that can help you!</h1>

<div id="sources-list">
    <h2>MOOCs (Massive Open Online Courses)</h2>

    <h3>A Little bit of Everything</h3>
    <ol>
        <li><a href="https://www.bitdegree.org/">BitDegree</a>: Website with free/paid online courses about web development, design, graphics, programming etc.</li>
        <li><a href="https://www.coursera.com/">Coursera</a>: A website for learning from teachers of reputed universities and colleges around the world.</li>
        <li><a href="https://www.edx.org">EDX</a>: A website with a variety of courses made by schools and such. This does include courses on web development, Python, and other programming languages.</li>
        <!-- Web Development: Front-End -->
        <li><a href="https://egghead.io/">egghead.io</a>: A place to learn new web development concepts and languages, both for free and paid.</li>

        <!-- Web Development: Front-End -->
        <li><a href="https://www.frontendmentor.io/">Frontend Mentor</a>: Solve real-world HTML, CSS and JavaScript challenges whilst working to professional designs.</li>

        <li><a href="https://www.freecodecamp.org/">freeCodeCamp.org</a>: A free site for learning web development. Optionally, you can pledge to donate money to charities while you learn, giving an incentive to keep working. In particular, this site features a number of JavaScript algorithms, data structures, take home projects, and Rosetta Code problems as well as a massive list of Project Euler problems, all for practice and preparation for technical job interviews.</li>

        <!-- Web Development: Front-End -->
        <li><a href="https://www.khanacademy.org/computing/computer-programming">Khan Academy</a>: An online resource for a variety of topics at a multitude of skill levels (from elementary school to postgraduate) that extend beyond computer science. However, their programming courses - which include interactive sandboxes in which learners can tinker with example code - focus on HTML and JavaScript and teach the fundamentals of animation and web design.</li>

        <!-- Web Development: General -->
        <li><a href="https://www.pluralsight.com/">Pluralsight</a>: Pluralsight is the leader in training for serious software developers, IT admins, and creative professionals. With 3,000+ courses and new ones added daily, Pluralsight serves as a career catalyst for customers in more than 150 countries and provides tech-savvy businesses with training on the three key areas they need to thrive.</li>

        <!-- Web Development: General -->
        <li><a href="https://scrimba.com/">Scrimba</a>: A powerful, free way of learning how to code. Similar to a (Andrei's) Udemy course, play around with the instructors code any time in Scrimba's online editor.</li>

        <!-- Web Development: General -->
        <li><a href="https://thecodingclassroom.teachable.com/p/think-like-a-programmer">Think Like A Programmer</a>: A free online class to help new programmers to build their first projects from scratch. Using specific strategies, it focuses on the process of problem-solving as well as the "soft" side of things (think motivation, productivity, etc.).</li>

        <!-- Computer Science -->
        <li><a href="https://www.udacity.com/">Udacity</a>: A website for learning different concepts of computer science.</li>

        <!-- General Learning -->
        <li><a href="https://www.udemy.com/">Udemy</a>: A website for learning anything that you want to learn. They have many courses in technology, general topics, etc...</li>

        <!-- Web Development: General -->
        <li><a href="https://www.rithmschool.com/courses">Rithm School Free Courses</a>: Looking to learn some web development skills on your own? We love that. Our team has created these resources to guide you through a handful of computer programming topics. Whether you're learning this material for the first time or brushing up on your skills, we hope that you'll find these tutorials, screencasts and exercises useful.</li>

        <!-- Computer Science: Programming with Java -->
        <li><a href="https://www.mooc.fi/en/">MOOC.FI</a>: The courses are offered by University of Helsinki's Department of Computer Science. No prior knowledge is required-beginners can start to learn programming basics from the Programming with Java course, or start to get familiar with artificial intelligence from the course Elements of Ai.</li>

        <!-- General Learning -->
        <li><a href="https://www-freecodecamp-org.cdn.ampproject.org/c/s/www.freecodecamp.org/news/free-online-programming-cs-courses/amp/">700 Free Online Programming & Computer Science Courses You Can Start This October</a>: This frequently updated site provides a plethora of online programming and computer science courses that you can start today. Courses are provided by a global range of universities and learning resources such as Rice University, Tel Aviv University, Coursera, W3C, and so much more!</li>

    </ol>

    <h3> Frontend: HTML, CSS, JavaScript, React</h3>
    <ul>
        <li><a href="https://developer.mozilla.org/en-US/docs/Web">MDN Web Docs</a>: A comprehensive resource by Mozilla, offering documentation on web technologies including HTML, CSS, and JavaScript.</li>
        <li><a href="https://www.freecodecamp.org/">freeCodeCamp</a>: An interactive learning platform that provides free coding challenges and projects to build your front-end development skills. Available for free.</li>
        <li><a href="https://www.codecademy.com/">Codecademy</a>: An online learning platform offering interactive coding lessons in various programming languages, including HTML, CSS, and JavaScript. Available for both free and paid.</li>
        <li><a href="https://css-tricks.com/">CSS-Tricks</a>: A website dedicated to all things CSS, providing tips, tricks, and tutorials for front-end developers.</li>
        <li><a href="https://frontendmasters.com/">Frontend Masters</a>: A platform offering in-depth courses on front-end development, covering topics such as JavaScript, React, and CSS.</li>
        <li><a href="https://www.smashingmagazine.com/">Smashing Magazine</a>: An online magazine for web developers and designers, featuring articles, tutorials, and resources on front-end technologies.</li>
        <li><a href="https://www.w3schools.com/">W3Schools</a>: A widely used resource for learning web development, providing tutorials and references on HTML, CSS, JavaScript, and more.</li>
        <li><a href="https://www.coursera.org/specializations/web-design">Coursera - Web Design for Everybody</a>: A Coursera specialization that covers the basics of web development, including HTML, CSS, and responsive design.</li>
        <li><a href="https://codepen.io/">CodePen</a>: An online community for testing and showcasing HTML, CSS, and JavaScript code snippets.</li>
        <li><a href="https://alistapart.com/">A List Apart</a>: An online magazine focusing on the best practices of web design and development, covering a wide range of topics.</li>
    </ul>
    
    <h3>Computer Science</h3>
    <ul>
        <li><a href="https://github.com/ossu/computer-science">OSSU</a>: The OSSU curriculum is a complete education in computer science using online materials.</li>
        <!-- Add more list items for computer science sources -->
    </ul>

    <h3>Web Development</h3>
    <h4>Full-Stack</h4>
    <ul>
<!-- Full-Stack -->
    <li><a href="https://bento.io/">Bento.io</a>: A web-based platform that offers Free Web Development courses. The curriculum includes HTML, CSS, Javascript, Git, Python, and SQL. A great resource for people who want to learn Web Development starting from the Beginner level.</li>

    <li><a href="https://www.codecademy.com/catalog/subject/web-development">Codecademy</a>: A place to learn and practice web development concepts and languages.</li>

    <li><a href="https://www.learnenough.com/courses">Learn Enough</a>: A comprehensive guide to providing you with a solid foundation as a developer to become comfortable with all of the tools and technologies you interact with. Created by Michael Hartl – founder of Learn Enough and creator of the Ruby on Rails tutorial – these courses are free to read online and available for purchase as an ebook for your device.</li>

    <li><a href="https://www.sololearn.com/">SoloLearn</a>: Join the largest community of mobile code learners today. It's a great app to help you get a basic concept of learning various programming languages easily and those are well-structured to learn. It has a very friendly community to join, and it's increasing and getting stronger day by day. There is a battle option to compete with others to justify your knowledge. It's very enjoyable and helpful.</li>

    <li><a href="https://www.theodinproject.com/">The Odin Project</a>: An online resource that uses other sources to provide a rather complete path for learning web development.</li>

    <li><a href="https://www.w3schools.com/">W3Schools</a>: A comprehensive learning resource covering HTML, CSS, JavaScript, and more. Has interactive tutorials as well as quizzes.</li>

    <li><a href="https://fullstackopen.com/en/">FullStackOpen</a>: This course will introduce you to modern JavaScript-based web development. The main focus is on building single page applications with ReactJS that use REST APIs built with Node.js. Learn React, Redux, Node.js, MongoDB, and GraphQL in one go!</li>

    <li><a href="https://btholt.github.io/intro-to-web-dev-v2/">INTRO TO WEB DEV V2</a>: Welcome to an intro to web development. It assumes you know absolutely nothing about writing code but that you have a basic grasp of how to operate your computer, how to browse the Internet, how to operate your operating system, and how to use a keyboard and mouse, etc.</li>

    <li><a href="https://fireship.io/">Fireship</a>: A project-based learning platform for building full-stack web application taught by the Fireship guy from YouTube.</li>
    
    <li><a href="https://codewithmosh.com/">Code with Mosh</a>: Become the software engineer that companies love to hire: All the coding courses you need to excel in one place.</li>
    </ul>

    <h4>Front-End</h4>
    <ul>
   <!-- Front-End -->
    <li><a href="https://cssreference.io/">CSS Reference</a>: An online guide to CSS that features complete descriptions, examples of usage, and illustrated/animated examples of the most popular CSS properties.</li>

    <li><a href="https://css-tricks.com/">CSS-Tricks</a>: One of the best sites to learn CSS and responsive design.</li>

    <li><a href="https://frontendmasters.com/">Frontend Masters</a>: A video tutorial website which offers workshop-based videos. The videos are expert-level workshops for developers who want to learn the secrets to level up their JavaScript and Node.js engineering skills and more.</li>

    <li><a href="https://dash.generalassemb.ly/">General Assembly Dash</a>: A set of projects which teach some HTML, CSS, and JavaScript.</li>

    <li><a href="https://htmlreference.io/">HTML Reference</a>: An online guide to HTML that features complete descriptions, and examples of usage for all HTML elements and attributes.</li>

    <li><a href="https://roadmap.sh/">Developer Roadmaps</a>: This is one of the biggest mistakes that many of us in the community are making by not fixing a goal. Here is the link that will help you down the road to achieve your goal of being a developer.</li>

    <li><a href="https://www.simplilearn.com/front-end-developer-free-course-skillup">Introduction to Front End Development</a>: Discusses the major tools and technologies involved in front-end development, and also provides an introduction to key front-end concepts. Course by SimpliLearn.</li>
    </ul>
    <!-- Master JavaScript -->
    <ul>
    <li>
    <a href="https://exercism.org/dashboard">Exercism</a>Supercharge your JavaScript skills on Exercism.org's dashboard, where you can tackle real-world coding challenges and become a JavaScript pro!
    </li>
<li>
<a href="https://codedamn.com/problem-list/javascript-logic-building">Logic building by using JavaScript</a>
</li>
<li><a href="https://javascript.info/">The Modern JavaScript tutorial</a>Master Data Structures and Algorithms (DSA) in JavaScript, delving into advanced concepts that empower you to optimize your code, solve complex problems, and build efficient applications for the digital age.
</li>
    </ul>
    <!-- Cybersecurity -->
     <ul>
     <li><a href="https://tryhackme.com/">TryHackMe</a>Anyone can learn cyber security with TryHackMe. With hands-on cyber security training through real-world scenarios, byte-sized gamified lessons that help you learn and practice in completely guided objective-based tasks and challenges.
     </ul>
</div>
 <h4>Python</h4>
    <ul>
    <li><a href="https://www.codecademy.com/learn/learn-python">Python Reference</a>: Learn the basics of the world’s fastest growing and most popular programming language used by software engineers, analysts, data scientists, and machine learning engineers alike.</li>
    <li><a href="https://www.geeksforgeeks.org/data-science-tutorial/">Python Reference</a>: This data science with Python tutorial will help you learn the basics of Python along with different steps of data science according to the need of 2023 such as data preprocessing, data visualization, statistics, making machine learning models, and much more with the help of detailed and well-explained examples. </li>
    </ul>

<h4>Java</h4>
    <ul>
    <li><a href="https://www.codecademy.com/learn/learn-java">Java Reference</a>: Popular for its versatility and ability to create a wide variety of applications, learning Java opens up your possibilities when coding. With it, you’ll be able to develop large systems, software, and mobile applications — and even create mobile apps for Android. Learn important Java coding fundamentals and practice your new skills with real-world projects.</li>
    <li><a href="https://www.w3schools.com/java/">Java Reference</a>: Java is a popular programming language.Java is used to develop mobile apps, web apps, desktop apps, games and much more. </li>
    </ul>
