@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/styles.css">
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Welcome to <code>Sorcerer<span class="text-success">Coder</span>Net</code></h1>
        <p>Embark on a coding adventure! Explore challenges, attend live lectures, and harness learning tools to unveil the magic of coding mastery. ✨</p>
        <p>Join us on this enchanting journey and make <code>Sorcerer<span class="text-success">Coder</span>Net</code> an inspiring platform for coding excellence. Let's embark on this coding adventure together! ✨</p>
    </div>
</body>
</html>
