@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/styles.css">
</head>
<body>
    <div class="text-center">
        <h1 class="display-4 text-warning">Welcome </h1><h1>to Sorcerer<span class="text-success">Coder</span>Net</h1>
        <p><span class="text-primary">Embark</span> on a <span class="text-success">coding adventure</span>! <span class="text-primary">Explore challenges</span>, attend <span class="text-success">live lectures</span>, and harness <span class="text-primary">learning tools</span> to unveil the magic of <span class="text-success">coding mastery</span>. ✨</p>
        <p>Join us on this enchanting journey and make Sorcerer<span class="text-success">Coder</span>Net an inspiring platform for coding excellence. Let's embark on this <span class="text-primary">coding adventure</span> together! ✨</p>
        <div class="coding-animation"></div>
        <p class="mt-3"><span class="text-danger">Coding</span> is your <span id="typing-text" class="text-primary"></span></p>
    </div>

    <script>
        const codingText = "superpower!";
        const typingSpeed = 100; // milliseconds per character
        const typingElement = document.getElementById("typing-text");

        let charIndex = 0;
        function typeText() {
            if (charIndex < codingText.length) {
                typingElement.textContent += codingText.charAt(charIndex);
                charIndex++;
                setTimeout(typeText, typingSpeed);
            }
        }

        typeText();
    </script>
</body>
</html>
